In [2]:
import pandas as pd
df1 = pd.DataFrame({
    "city": ["new york", "chicago","orlando"],
    "temperature" : [21, 14,25],
})
df1

       city  temperature
0  new york           21
1   chicago           14
2   orlando           25

In [10]:
df2 = pd.DataFrame({
    "city": ["new york", "chicago","maryland"],
    "humidity" : [65, 68,75],
})
df2

       city  humidity
0  new york        65
1   chicago        68
2  maryland        75

In [11]:
df3 = pd.merge(df1, df2, on = "city", how = "outer")
df3

       city  temperature  humidity
0   chicago         14.0      68.0
1  maryland          NaN      75.0
2  new york         21.0      65.0
3   orlando         25.0       NaN

In [12]:
df3 = pd.merge(df1, df2, on = "city")
df3

       city  temperature  humidity
0  new york           21        65
1   chicago           14        68

In [13]:
df3 = pd.merge(df1, df2, on= "city", how = "outer", indicator = True)
df3

       city  temperature  humidity      _merge
0   chicago         14.0      68.0        both
1  maryland          NaN      75.0  right_only
2  new york         21.0      65.0        both
3   orlando         25.0       NaN   left_only

In [15]:
df1 = pd.DataFrame({
    "city": ["new york", "chicago", "orlando", "baltimore"],
    "temperature":[60, 65, 54, 35],
    "humidity": [21, 14,35,38]
})
df1

        city  temperature  humidity
0   new york           60        21
1    chicago           65        14
2    orlando           54        35
3  baltimore           35        38

In [16]:
df2 = pd.DataFrame({
    "city": [ "chicago","new york", "san diego"],
    "temperature":[21, 14,35],
    "humidity": [65, 45, 67]
})
df2

        city  temperature  humidity
0    chicago           21        65
1   new york           14        45
2  san diego           35        67

In [19]:
pd.merge(df1, df2, on = "city", suffixes = ('_left', '_right'))

,city,temperature_left,humidity_left,temperature_right,humidity_right
0,new york,60,21,14,45
1,chicago,65,14,21,65