In [2]:
import pandas as pd
df = pd.read_csv("weather_data.csv", parse_dates = ["day"])
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow
3 2017-01-04           24          7   Snow
4 2017-01-05           32          4   Rain
5 2017-01-06           31          2  Sunny

In [3]:
df.set_index('day', inplace = True)
df

            temperature  windspeed  event
day
2017-01-01           32          6   Rain
2017-01-02           35          7  Sunny
2017-01-03           28          2   Snow
2017-01-04           24          7   Snow
2017-01-05           32          4   Rain
2017-01-06           31          2  Sunny

In [4]:
new_df = df.fillna(0)
new_df

            temperature  windspeed  event
day
2017-01-01           32          6   Rain
2017-01-02           35          7  Sunny
2017-01-03           28          2   Snow
2017-01-04           24          7   Snow
2017-01-05           32          4   Rain
2017-01-06           31          2  Sunny

In [5]:
new_df = df.fillna({
    'temperature': 0,
    'windspeed': 0,
    'event': 'no event'
})
new_df

            temperature  windspeed  event
day
2017-01-01           32          6   Rain
2017-01-02           35          7  Sunny
2017-01-03           28          2   Snow
2017-01-04           24          7   Snow
2017-01-05           32          4   Rain
2017-01-06           31          2  Sunny

In [8]:
new_df = df.interpolate(methid = "time")
new_df

C:\Users\Archita Shrivastava\AppData\Local\Temp\ipykernel_584\1959141081.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  new_df = df.interpolate(methid = "time")

            temperature  windspeed  event
day
2017-01-01           32          6   Rain
2017-01-02           35          7  Sunny
2017-01-03           28          2   Snow
2017-01-04           24          7   Snow
2017-01-05           32          4   Rain
2017-01-06           31          2  Sunny

In [10]:
new_df = df.dropna(how = "all")
new_df

            temperature  windspeed  event
day
2017-01-01           32          6   Rain
2017-01-02           35          7  Sunny
2017-01-03           28          2   Snow
2017-01-04           24          7   Snow
2017-01-05           32          4   Rain
2017-01-06           31          2  Sunny

In [11]:
new_df = df.dropna(thresh = 1)
new_df

            temperature  windspeed  event
day
2017-01-01           32          6   Rain
2017-01-02           35          7  Sunny
2017-01-03           28          2   Snow
2017-01-04           24          7   Snow
2017-01-05           32          4   Rain
2017-01-06           31          2  Sunny