In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
new_df = df.replace(32, np.NaN)
new_df

        day  temperature  windspeed  event
0  1/1/2017          NaN          6   Rain
1  1/2/2017         35.0          7  Sunny
2  1/3/2017         28.0          2   Snow
3  1/4/2017         24.0          7   Snow
4  1/5/2017          NaN          4   Rain
5  1/6/2017         31.0          2  Sunny

In [5]:
new_df = df.replace('[A-Za-z]', '', regex = True)
new_df

        day  temperature  windspeed event
0  1/1/2017           32          6
1  1/2/2017           35          7
2  1/3/2017           28          2
3  1/4/2017           24          7
4  1/5/2017           32          4
5  1/6/2017           31          2

In [11]:
df1 = df.replace({
    'score' : ['exceptional', 'average', 'good', 'poor', 'average','exceptional'],
    'student': ['rob', 'maya','parthiv','tom','julian','erica']
})
df1

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [12]:
new_df = df.replace(['poor', 'average', 'good','exceptional'], [1,2,3,4,])
new_df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny