In [1]:
import pandas as pd

In [2]:
y = pd.Period('2016')
y

Period('2016', 'Y-DEC')

In [3]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [4]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [5]:
m = pd.Period('2011-1', freq= 'M')
m

Period('2011-01', 'M')

In [6]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [7]:
m + 1

Period('2011-02', 'M')

In [8]:
d = pd.Period('2017-02-28')
d

Period('2017-02-28', 'D')

In [9]:
d + 1

Period('2017-03-01', 'D')

In [12]:
h = pd.Period('2016-02-28 23:00:00' , freq = 'H')
h

C:\Users\Archita Shrivastava\AppData\Local\Temp\ipykernel_18412\4043943781.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  h = pd.Period('2016-02-28 23:00:00' , freq = 'H')

Period('2016-02-28 23:00', 'h')

In [13]:
h.start_time

Timestamp('2016-02-28 23:00:00')

In [14]:
h.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [15]:
h - 6

Period('2016-02-28 17:00', 'h')

In [16]:
h + pd.offsets.Hour(5)

Period('2016-02-29 04:00', 'h')

In [18]:
q = pd.Period('2017Q1', freq = 'Q-JAN')
q

Period('2017Q1', 'Q-JAN')

In [21]:
q.asfreq('M', how = 'end')

Period('2016-04', 'M')

In [22]:
q2 = pd.Period('2018Q2', freq = ' Q-JAN')
q2

Period('2018Q2', 'Q-JAN')

In [23]:
q2 - q

In [29]:
idx = pd.period_range('2011',periods = 10, freq = 'Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]')

In [26]:
idx[0].start_time

Timestamp('2011-01-01 00:00:00')

In [28]:
idx[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

In [32]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2011Q4    0.097041
2012Q1   -0.500645
2012Q2    2.163596
2012Q3   -0.161336
2012Q4   -0.178908
2013Q1    1.574401
2013Q2   -1.087583
2013Q3   -0.909330
2013Q4   -0.578561
2014Q1    0.102091
Freq: Q-JAN, dtype: float64

In [33]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]')

In [35]:
ps['2011':'2013']

2011Q4    0.097041
2012Q1   -0.500645
2012Q2    2.163596
2012Q3   -0.161336
2012Q4   -0.178908
2013Q1    1.574401
2013Q2   -1.087583
2013Q3   -0.909330
2013Q4   -0.578561
2014Q1    0.102091
Freq: Q-JAN, dtype: float64

In [36]:
pst = ps.to_timestamp()
pst

2010-11-01    0.097041
2011-02-01   -0.500645
2011-05-01    2.163596
2011-08-01   -0.161336
2011-11-01   -0.178908
2012-02-01    1.574401
2012-05-01   -1.087583
2012-08-01   -0.909330
2012-11-01   -0.578561
2013-02-01    0.102091
Freq: QS-NOV, dtype: float64

In [37]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [38]:
pst.to_period()

2010Q4    0.097041
2011Q1   -0.500645
2011Q2    2.163596
2011Q3   -0.161336
2011Q4   -0.178908
2012Q1    1.574401
2012Q2   -1.087583
2012Q3   -0.909330
2012Q4   -0.578561
2013Q1    0.102091
Freq: Q-DEC, dtype: float64

In [39]:
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [41]:
df = df.T
df

                 0         1       2
Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854